<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Cronogramas</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
	<div th:switch="${cronogramas}" class="container my-5" th:object="${game}">
	<h2 class="mb-5">Gestión de Cronogramas de juegos</h2>
		<div class="row">
			<div class="col-md-10">
				<h2 th:case="null">Todavía no hay cronogramas.</h2>
				<div th:case="*">					
					
					<table class="table table-striped table-responsive-md">
						<thead>
							<tr>
								<th>ID</th>								
								<th>Nombre cronograma</th>
								<th>Nombre de juego</th>
								<th>Tipo</th>
								<th>Tema</th>
								<th>Estado</th>	
								<th>Editar</th>
								<th>Borrar</th>							
							</tr>
						</thead>
						<tbody>
							<tr th:each="crono : ${cronogramas}">
								<td th:text="${crono.id}"></td>
								<td th:text="${crono.name}"></td>
								<td th:text="${crono.tssccrono}"></td>
								<td th:text="${crono.type}"></td>
								<td th:text="${crono.tssctopic}"></td>
								<td th:text="${crono.state}"></td>
								<td><a th:href="@{Games/__${game.id}__/crono/edit/{id}(id=${crono.id})}" class="btn btn-primary"><i class="fas fa-edit ml-2"></i></a></td>
								<td><a th:href="@{Games/__${game.id}__/crono/del/{id}(id=${crono.id})}" class="btn btn-primary"> <i class="fas fa-times ml-2"></i></a></td>
							</tr>
						</tbody>
					</table>
					
					<div >						
						<a th:href="@{/Games/__${game.id}__/crono/add}" div class="col-md-5 mt-3">
						<button class="btn btn-primary"> Adicionar <i class="far fa-calendar-alt"></i></button>
						</p>
					</div>
				
				</div>


			</div>
		</div>
		<p>	<a href="/Games/"> Regresar a juegos <i class="fas fa-dice ml-2"></i></a> </p>
		<p>	<a href="/"><i class="fas fa-home ml-2"></i> Regresar a home</a></p>
	</div>
</body>
</html>