<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Gestión de juegos</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
	<div th:switch="${Games}" class="container my-5">
		<div class="row">
			<div class="col-md-10">
				<h2 th:case="null">Sin juegos aún!</h2>
				<div th:case="*">
					<h2 class="my-5">Consulta de juegos</h2>
					<table class="table table-striped table-responsive-md">
						<thead>
							<tr>
								<th>Nombre</th>
								<th>Fecha</th>								
								<th>Historias</th>
								
							</tr>
						</thead>
						<tbody>
							<tr th:each="game : ${Games}">
								<td class="text-info" th:text="${game.name}"></td>
								<td class="text-info" th:text="${game.scheduledDate}"></td>
								
								<td><a th:href="@{/Games/Stories/{id}(id=${game.id})}"
									class="btn btn-primary"><i class="fas fa-file-alt ml-2"></i></a></td>
									
							</tr>
						</tbody>
					</table>
				</div>
				<!--  
				<a href="/Games/add/" div class="col-md-5 mt-3">
					<button class="btn btn-primary">Adicionar <i class="fa fa-dice"></i></button>
							<!-- <input type="submit" name="action" class="btn btn-primary">Actualizar <i class="fas fa-dice ml-2"></i>
						</a> --> 
				
				</div>
			</div>
		</div>
		<a href="/"><i class="fas fa-home ml-2"></i> Regresar a home</a>
	</div>
</body>
</html>